<div class="row">
	<div class="biography-text">
		<p><strong>Booze&amp;Glory</strong>  – Punk band based in London , formed in July 2009 by Mark, Liam, Bart and Mario.
		A few months later the band played their first show in London’s Fiddlers Elbow and shortly after recorded their first demo – later released as a debut LP.</p>
		<p>With 3 full length albums, many EPs and a few popular videos (one of them reached over 6.000.000 views on You Tube) Booze&amp;Glory suffer no curiosity towards anything but their tried and true brand of widely recognised Street Punk.</p>
		<p>The band has gone from strength to strength playing shows all over Europe, toured USA, South America and Asia. Booze&amp;Glory appeared on many festivals all over the world like Punk Rock Bowling in Vegas, Black’n’Blue Bowl in NY, Rebellion Festival in the UK or With Full Force in Germany just to name a few.</p>
		<p>After a partial line up change – Booze&amp;Glory are now an international outfit featuring Mark (Poland) – guitar/vocal, Liam (Ireland/UK) – guitar/vocal, Frank (Italy) – drums and Bubbles (Greece) currently replaced by AL (UK)</p>
		<p>Booze&amp;Glory worked with some of the best punk labels and in 2016 band signed the 2 album deal with the legendary, recently resurrected Swedish label – Burning Heart Records (Parkway Drive, The Hives, Turbonegro)</p>
		<p>2017 will see the release of their 4th album titled CHAPTER IV and extensive tour including USA, Canada, Europe and Asia.</p>
		<br/>
		<h4>Official Videos:</h4>
		<ul>
			<li ng-repeat="video in officialVideos"><a ng-href="{{video.url}}" target="_blank"><strong>{{video.title}}</strong></a></li>
		</ul>
		<br/>
		<h4>Discography</h4>
		<ul class="discography">
			<li ng-repeat="album in discography"><p><strong>{{album.title}}</strong> - {{album.description}}</p></li>
		</ul>
		<br/>
		<h4>Former Members:</h4>
		<ul class="discography">
			<li ng-repeat="member in members"><p><strong>{{member.name}}</strong> - {{member.instrument}} - {{member.years}}</p></li>
		</ul>
	</div>
</div>