/* 
font-family: 'Special Elite', cursive; 
font-family: 'Roboto', sans-serif;
*/


body {
	padding-bottom: 30px;
  color: #fff;
  background: #000;
  font-size: 16px; 
  font-family: 'Roboto', sans-serif;
}

#navbarCollapse {
	background-color: #000;	
	padding: 0 10% 0 10%;
}

.navbar-default .navbar-nav>li>a {
	color: #c39b2c;
	font-family: 'Special Elite', cursive; 
	font-size: 1.8rem;
}

.main-image {
	padding-top: 60px;
	max-width: 100%;
}

.news-row {
	padding-bottom: 25px;
	margin-bottom: 30px;
	border-bottom: solid white 1px;
}

.news-title {
	color: #c39b2c;
	font-family: 'Special Elite', cursive; 
}

 .news-text {
 	color: #fff;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 300;
 }

 .videos-row {
 	margin-bottom: 30px;
 	padding-bottom: 10px; 
 }

.videos-row iframe {
	border: solid 1px #c39b2c;
}

 .logo-bottom {
 	max-width: 50%;
 }

 .follow-us ul  {
 	list-style-type: none;
 	padding-left: 0;
 }

 .follow-us ul li {
 	display: inline-block;
 	max-width: 17%;
 	margin-right: 3px;
 	
 }

 .biography-text {
 	padding: 20px 20%;
 	font-weight: 300;
 }


 .biography-text ul li {
 	list-style: square;
 
 }

 .biography-text ul li a {
 	text-decoration: none;
 	color: #c39b2c;
 }

 ul.discography li,
 ul.discography li a {
 	color: #fff;
 }

 /* tour page */
 .bit-widget .bit-event {
 	border-top: 1px solid #fff !important;
 }

 .contact-page {
 	text-align: center;
 	font-family: 'Special Elite', cursive; 
 }

.contact-page h2 {
	margin: 40px 0 10px 0;
}

